<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route path="/" controller="PostController" action="index"/>
    <route path="/show" controller="PostController" action="show" params="id, mainId"/>
    <!-- /api/ -->
    <route path="/api/upload-image" controller="ApiController" action="uploadImage"/>
</routes>